@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gpa-calculator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.gpa-calculator {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin-top: 70px;
  padding-top: 60px;
}

.calc-wrapper {
  margin: 20px;
}

.heading {
  text-align: center;
  margin: 3rem;
}

.points-credits-inputs {
  min-width: 80%;
}

.one-subject {
  width: 90%;
  margin-top: 10px;
}

.calculate-button {
  margin-bottom: 10rem;
}

.subject-button {
  margin: 0.5rem;
}

.semester-button {
  margin: 0.5rem;
  min-width: 160px;
  min-height: 50px;
}

.one-subject {
  min-width: 400px;
}

.semester {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .selectsem {
    margin-top: 100px !important;
  }
  .semester {
    margin-top: 70px !important;
  }
}

.year-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.year {
  margin-left: 20px;
}

.sem-header {
  text-align: center;
  margin-bottom: 50px;
}

.go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.description {
  margin: 0px 25px;
}
.calculate-button-wrapper {
  margin-top: 50px;
}

.table-heading {
  text-align: center;
}

.table-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gpa-data-wrapper {
  margin: 100px;
}

.gpa-data-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.gpa {
  padding: 20px;
}
