@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(140, 0, 255);
  margin-bottom: 1rem;
}

body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gpa-calculator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.gpa-calculator {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 20px;
  margin-top: 70px;
  padding-top: 60px;
  max-width: 400px;
}

.gpa-container {
  margin-bottom: 3rem;
}

.calc-wrapper {
  margin: 20px;
}

.heading {
  text-align: center;
  margin: 3rem;
}

.points-credits-inputs {
  min-width: 80%;
}

.one-subject {
  width: 90%;
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  padding-right: 10px;
}

.calculate-button {
  margin-bottom: 4rem;
}

.subject-button.sub-btn {
  margin: 0.5rem;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  font-weight: bold;
}

.semester-button {
  margin: 0.5rem;
  max-width: 160px;
  min-height: 50px;
  min-width: 100%;
}

.one-subject {
  width: 90%;
}

.semester {
  margin-top: 70px;
}

.selectsem {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-top: 70px;
  padding: 20px 30px 20px 30px;
  max-width: 700px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .selectsem {
    margin-top: 100px !important;
  }
  .semester {
    margin-top: 70px !important;
  }
}

.semester-btn.semester-button-wrapper {
  padding-left: 0px;
}

.year-button.year-button-wrapper {
  padding: 0px;
}

.sem-header {
  text-align: center;
  margin-bottom: 50px;
}

.go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.description {
  margin: 0px 25px;
}
.calculate-button-wrapper {
  margin-top: 50px;
}

.table-heading {
  text-align: center;
  min-width: 110px;
}

.table-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gpa-data-wrapper {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 30px;
  border-radius: 20px;
  margin: 100px;
}

.gpa-data-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.gpa {
  padding: 20px;
}

.credits {
  padding-right: 20px;
}
