* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gpa-calculator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.heading {
  text-align: center;
  margin: 3rem;
}

.points-credits-inputs {
  min-width: 80%;
}

.one-subject {
  width: 90%;
  margin-top: 10px;
}

.calculate-button {
  margin-bottom: 10rem;
}

.subject-button {
  margin: 0.5rem;
}

.semester-button {
  margin: 0.5rem;
}
